.testo {
  background-color: rgb(212, 211, 211);
  width: 210px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

  margin-inline: 20px;
}
.thintesto {
  margin-right: 20px;
  color: #000000;
  font-weight: 600;
}

.kindoftesto {
  display: flex;
  justify-content: center;
  p {
    margin-top: 5px;
    text-align: center;
  }
  p:hover{
    background-color: white;
    border-radius: 3px;
    width: 120px;
  }
  .thicktesto {
    color: #000000;
    font-weight: 600;
  }
}
.marginsofsize {
  margin-inline: 13px;
}
.size {
  display: flex;
  justify-content: center;
  p:hover {
    background-color: white;
    border-radius: 3px;
    width: 70px;
    cursor: pointer;
   text-align: center;
  }
}
