

.categories {
  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      padding: 13px 30px;
      background-color: #f9f9f9;
      color: #2b2b2b;
      border-radius: 30px;
      font-weight: bold;
      text-align: center;
      transition: all 0.1s ease-in-out;
      
      // Чтобы кнопки всегда были одинаковой ширины
      flex: 1; 
      box-sizing: border-box;

      

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      // Состояние зажатой мышки (физический клик)
      &:active {
        background-color: darken(#f9f9f9, 5%);
        transform: translateY(1px);
      }

      // Класс для активной категории (выбранной через React)
      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }

  // Адаптивность
  @media (max-width: 948px) {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 500px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 418px) {
    ul {
      grid-template-columns: 1fr;
      max-width: 240px;
      margin-inline: auto;
    }
  }
}
