body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.HomePage {
  background-color: white;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 1800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Этот класс используется внутри карточек */
.pizza-item {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}
